.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196F3;
  --text-main-color: #212121;
}

body {
  font-family: var(--main-font);
  color: var(--text-main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: #212121;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo__accent--dark {
  color: var(--main-color);
}

.logo__footer {
  color: #2196F3;
  padding-top: 60px;
  padding-bottom: 16px;
  display: flex;
}

.logo__accent--light {
  color: white;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--main-color);
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border: 0;
  justify-content: center;
}

.btn:hover, .btn:focus {
  cursor: pointer;
}

.btn.btn__send {
  margin-top: 30px;
}

.btn.btn__footer {
  margin-left: 12px;
  gap: 24px;
}

.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.social__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus,
.social__icon:hover,
.social__icon:focus {
  fill: white;
  background-color: var(--main-color);
}

.social__icon--dark {
  fill: white;
}

.social__list {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 16px;
  justify-content: center;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--main-color);
}

.modal-form-input:focus + .modal__form-icon {
  fill: var(--main-color);
  border-color: var(--main-color);
}

.modal__form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  /* margin-top: 4px; */
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-message:focus {
  outline: none;
  border-color: var(--main-color);
}

.modal__form-policy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__form-policy-text::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  color: var(--main-color);
}

.policy-text {
  margin: 0 5px;
}

.close-bnt {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
}

.address__list {
  display: flex;
  align-items: center;
}

.address__item:not(:last-child) {
  margin-right: 30px;
}

.envelope-icon,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 46px;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus,
.address__email:hover,
.address__email:focus,
.address__phone-number:hover,
.address__phone-number:focus {
  color: var(--main-color);
}

.address__email,
.address__phone-number {
  font-style: normal;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: var(--main-color);
}

.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  top: 45px;
  border-radius: 2px;
  background-color: var(--main-color);
}

.conatiner__header {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
  height: 37.5rem;
  background-position: center center;
  display: flex;
  align-items: center;
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.attributes {
  padding-top: 94px;
}

.attributes__list {
  display: flex;
}

.attributes__icon-container {
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attributes__icon {
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.attributes__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
}

.attributes__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.attributes__item:not(:last-child) {
  margin-right: 30px;
}

.about {
  content: "";
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item-span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.our-team__figure {
  width: 270px;
  margin-left: 0px;
  display: inline-block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  margin-right: 30px;
}

.our-team__list {
  display: flex;
}

.our-team {
  background-color: #f5f4fa;
  text-align: center;
}

.name {
  display: inline-block;
  align-items: center;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187px;
  letter-spacing: 0.03em;
}

.job-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  margin-top: 10px;
}

.our-customers__list {
  display: flex;
}

.our-customers__icon {
  width: 106px;
  height: 60.04px;
}

.our-customers__item:not(:last-child) {
  margin-right: 30px;
}

.our-customers__link {
  display: flex;
  fill: #afb1b8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers__link:focus, .our-customers__link:hover {
  fill: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 4px;
}

.footer {
  background-color: #2f303a;
  height: 252px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__right-side {
  margin-top: 29px;
}

.footer__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.footer .footer__email-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  padding-left: 16px;
  color: white;
}

.footer .footer__email-input__email-input:focus {
  outline: none;
  border: 1px solid var(--main-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .address-bottom__location-link,
.footer .address-bottom__contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .address-bottom__contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer .address-bottom__contact-link:hover,
.footer .address-bottom__contact-link:focus,
.footer .address-bottom__location-link:hover,
.footer .address-bottom__location-link:focus {
  color: var(--main-color);
}

.footer .join-us__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-top: 64px;
}

.newsletter {
  display: flex;
  padding-top: 20px;
}

.apps__box {
  position: relative;
  overflow: hidden;
}

.apps__popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  /* width: 301px; */
  padding-top: 49px;
  padding-bottom: 49px;
  padding-right: 45px;
  padding-left: 24px;
}

.apps__figure {
  margin-left: 0;
  margin-right: 0px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps__figcaption {
  border: 1px solid #eeeeee;
}

.apps__list {
  display: flex;
  flex-wrap: wrap;
}

.apps__item {
  width: calc((100% - 30px) / 3);
  width: 370px;
}

.apps__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 0px 4px 24px;
}

.apps__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 4px 0px 20px 24px;
}

.apps__item:not(:nth-child(3n+3)) {
  margin-right: 30px;
}

.apps__figure:hover,
.apps__figure:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.header {
  border-bottom: 1px solid #ececec;
}

.button-list__link {
  justify-content: center;
  padding-bottom: 54px;
  display: flex;
}

.button-list__item:not(:last-child) {
  padding-right: 8px;
  text-align: center;
}

.button-list__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
}

.buttons {
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover, .buttons:focus {
  color: white;
  background-color: var(--main-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.apps__box:hover .apps__popup {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */