
:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-color: #2196F3;
    --text-main-color: #212121;
}

body {
font-family: var(--main-font);
color:var(--text-main-color);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}
/* ===== COMPONENTS ===== */

/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */
.main-header {
    margin-left: auto;
    margin-right: auto;
}

.header .container{
    display: flex;
    margin-top: 24px;
    margin-bottom: 25px
    
    
}

.navigation { 
    display: flex;
    
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-list-item:not(:last-child){
    margin-right: 46px;

}
.navigation-logo {
    margin-right: 93px;
}
.header .address-email {
    margin-left: auto;
    margin-right: 50px;
}



.navigation-logo {
    color:rgba(33, 33, 33, 1);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}
.navigation-logo-color {
    color: var(--main-color);
    
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: rgba(33, 33, 33, 1);
    
}

a.current {
    color:var(--main-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-email:hover,
.address-email:focus,
.address-phone-number:hover,
.address-phone-number:focus
 {
    color: var(--main-color)
}

.address-email,
.address-phone-number {
    font-style: normal;
    text-decoration: none;
    color:rgba(117, 117, 117, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
}


/* ===== END HEADER ===== */

/* ===== HERO ===== */
.container .main-header {
    padding: 200px 0 280px 0;
    align-items: center;
    display: flex; 
    
}

.main-header {
    width: 696px; 
}


.hero {
    background-color: #2F303A;
    display: flex;
    height: 600px;
    
}

.main-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    
}

.modal-button {
font-weight: 700;
font-size: 16px;
line-height: 1.875;
display: block;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--main-color);
margin: 0 auto;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
position: absolute;
left: 600px;
top: 430px;
width: 200px;
height: 50px;

}

.modal-button:hover,
.modal-button:focus {
    cursor: pointer
}
/* ===== END HERO ===== */

/* ===== LOREM IPSUM ===== */
.container .lorem-ipsum-list {
    display: flex;
    margin: 94px 0px;
} 

.lorem-ipsum-item:not(:last-child) {
    margin-right: 30px;
}
.lorem-ipsum-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

 .lorem-ipsum-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;

 }   
/* ===== END LOREM IPSUM ===== */

/* ===== WHAT WE DO ===== */
.container .what-we-do-img-list {
    display: flex;    
}
.what-we-do-img {
    margin-right: 30px;
    margin-bottom: 50px;
}
.what-we-do-header {

font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
margin-top: 94px;
margin-bottom: 50px;
}
/* ===== END WHAT WE DO ===== */

/* ===== OUR TEAM ===== */
.our-team-worker {
    display: inline-block;
    align-items: center;
    margin-top: 30px;
}
.figure-our-team {
    width: 270px;
    margin-left: 0px;
    display: block;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 0px;
}
.our-team-header {
    padding-top: 94px;
    padding-bottom: 50px;

}

.container .our-team-list {
    display: flex;
}


/* === ZMIANA SZEROKOSCI ZDJ === */
.our-team-item {
    max-width: 300px;
}

.our-team {
    background-color: rgba(245, 244, 250, 1);
    text-align: center;
    height: 648px;
    
}

.our-team-header {
font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
}

.our-team-worker {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187px;
    letter-spacing: 0.03em;
}

.job-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}
/* ===== END OUR TEAM ===== */
/* ===== FOOTER ===== */
.navigation-logo-bottom {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 16px;
    display: flex;

}

.navigation-logo-color-bottom {
    color: rgba(255, 255, 255, 1);
}

.footer {
    background-color: 
    rgba(47, 48, 58, 1);
    height: 252px;
    
}

.address-location-link, 
.address-contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
    font-style: normal;
    
}

.address-contact-link {
    color: rgba(255, 255, 255, 0.6);    
}

.address-contact-link:hover,
.address-contact-link:focus,
.address-location-link:hover,
.address-location-link:focus {
    color: var(--main-color);
}

/* ===== END FOOTER ===== */

/* ===== PORTFOLIO MAIN ===== */
.apps-list-item:not(:nth-child(3n+3)) {
    display: flex;
    margin-right: 30px;
}
.header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.container .button-list-link {
display: flex;
padding-top: 85px;
} 
.button-list-link {
    padding-left: 356px;
    padding-right: 303px;
    padding-bottom: 34px;
    
}
.button-list-item:not(:last-child) {
    display: flex;
    padding-right: 8px;
    text-align: center;
    
}
 

.figure-apps {
    margin-left: 0;
    margin-right: 0px;
    
}
.figcaption-apps {
border: 1px solid rgba(238, 238, 238, 1);
}

.apps-list-item:nth-child(n + 7) {
    margin-bottom: 94px;
}

.button-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;  
    
 
}

.buttons:hover,
.buttons:focus {
    color: rgba(255, 255, 255, 1);
    background-color: var(--main-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
}

.apps-list-link {
    display: flex;
    flex-wrap: wrap;

}

.apps-list-item {
    width: calc((100% - 30px) / 3);
    width: 370px;

}

.application-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 0px 4px 24px;    
}

.application-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    padding: 4px 0px 20px 24px;

}

.buttons {
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    margin-right: 8px;
}
/* ===== END PORTFOLIO MAIN ===== */



