
:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-color: #2196F3;
    --text-main-color: #212121;
}

body {
font-family: var(--main-font);
color:var(--text-main-color);

}

/* ===== COMPONENTS ===== */
a {
text-decoration: none;
}

li {
    list-style: none;
}
/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */



.navigation-logo {
    color:rgba(33, 33, 33, 1);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}
.navigation-logo-color {
    color: var(--main-color);
    
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: rgba(33, 33, 33, 1);
    
}

a.current {
    color:var(--main-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-email:hover,
.address-email:focus,
.address-phone-number:hover,
.address-phone-number:focus
 {
    color: var(--main-color)
}

.address-email,
.address-phone-number {
    font-style: normal;
    text-decoration: none;
    color:rgba(117, 117, 117, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
}


/* ===== END HEADER ===== */

/* ===== HERO ===== */
.hero {
    background-color: #2F303A;
}

.main-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-button {
font-weight: 700;
font-size: 16px;
line-height: 1.875;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--main-color)
}

.modal-button:hover,
.modal-button:focus {
    cursor: pointer
}
/* ===== END HERO ===== */

/* ===== LOREM IPSUM ===== */
.lorem-ipsum-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

 .lorem-ipsum-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;

 }   
/* ===== END LOREM IPSUM ===== */

/* ===== WHAT WE DO ===== */
.what-we-do-header {

font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
}
/* ===== END WHAT WE DO ===== */

/* ===== OUR TEAM ===== */
.our-team {
    background-color: rgba(245, 244, 250, 1);
}

.our-team-header {
font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
}

.our-team-worker {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187px;
    letter-spacing: 0.03em;
}

.job-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}
/* ===== END OUR TEAM ===== */
/* ===== FOOTER ===== */
.navigation-logo-bottom {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.navigation-logo-color-bottom {
    color: rgba(255, 255, 255, 1);
}

.footer {
    background-color: 
    rgba(47, 48, 58, 1);
}

.address-location-link, 
.address-contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
    font-style: normal;
    
}

.address-contact-link {
    color: rgba(255, 255, 255, 0.6);    
}

.address-contact-link:hover,
.address-contact-link:focus,
.address-location-link:hover,
.address-location-link:focus {
    color: var(--main-color);
}

/* ===== END FOOTER ===== */

/* ===== PORTFOLIO MAIN ===== */
.button-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;    
}

.buttons:hover,
.buttons:focus {
    color: rgba(255, 255, 255, 1);
    background-color: var(--main-color);
    cursor: pointer;
}

.application-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;    
}

.application-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}
/* ===== END PORTFOLIO MAIN ===== */


