







/* ===== COMPONENTS ===== */







/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */


/* .main-header {
    margin-left: auto;
    margin-right: auto;
} */

/* .container{
    display: flex;
    height: 80px;
    justify-content: space-between;
} */



/* ===== END HEADER ===== */

/* ===== HERO ===== */





/* ===== END HERO ===== */

/* ===== LOREM IPSUM  /// ATTRIBUTES ===== */

/* ===== END LOREM IPSUM /// ATTRIBUTES ===== */

/* ===== WHAT WE DO  /// ABOUT ===== */




/* ===== END WHAT WE DO /// ABOUT ===== */

/* ===== OUR TEAM ===== */






/* ===== END OUR TEAM ===== */
/* ===== OUR CUSTOMERS ===== */



/* ===== END OUR CUSTOMERS ===== */
/* ===== FOOTER ===== */









/* +++++ END RIGHT SITE +++++ */

/* ===== END FOOTER ===== */

/* ===== PORTFOLIO MAIN ===== */





/* ===== END PORTFOLIO MAIN ===== */

/* ===== BACKDROP ===== */






/* .modal-form-checkbox {

} */


/* ===== END BACKDROP ===== */


