
:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-color: #2196F3;
    --text-main-color: #212121;
}

body {
font-family: var(--main-font);
color:var(--text-main-color);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}
/* ===== COMPONENTS ===== */

/* ===== END COMPONENTS ===== */

/* ===== HEADER ===== */
.main-header {
    margin-left: auto;
    margin-right: auto;
}

.header .container{
    display: flex;
    margin-top: 24px;
    margin-bottom: 25px
    
    
}

.navigation { 
    display: flex;
    
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-list-item:not(:last-child){
    margin-right: 46px;

}
.navigation-logo {
    margin-right: 93px;
}
.header .address-email {
    margin-left: auto;
    margin-right: 50px;
}

.navigation-logo {
    color:rgba(33, 33, 33, 1);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}
.navigation-logo-color {
    color: var(--main-color);
    
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: rgba(33, 33, 33, 1);
    
}

a.current {
    color:var(--main-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-email:hover,
.address-email:focus,
.address-phone-number:hover,
.address-phone-number:focus
 {
    color: var(--main-color)
}

.address-email,
.address-phone-number {
    font-style: normal;
    text-decoration: none;
    color:rgba(117, 117, 117, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
}


/* ===== END HEADER ===== */

/* ===== HERO ===== */
.container .main-header {
    padding: 200px 0 280px 0;
    align-items: center;
    display: flex; 
}

.main-header {
    width: 696px; 
}


.hero {
    background-color: #2F303A;
    display: flex;
    
}

.main-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    
}

.container .modal-button {
font-weight: 700;
font-size: 16px;
line-height: 1.875;
display: inline-block;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--main-color);
margin: 0;



}

.modal-button:hover,
.modal-button:focus {
    cursor: pointer
}
/* ===== END HERO ===== */

/* ===== LOREM IPSUM ===== */
.container .lorem-ipsum-list {
    display: flex;
    margin: 94px 0px;
} 

.lorem-ipsum-item:not(:last-child) {
    margin-right: 30px;
}
.lorem-ipsum-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

 .lorem-ipsum-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;

 }   
/* ===== END LOREM IPSUM ===== */

/* ===== WHAT WE DO ===== */
.container .what-we-do-img-list {
    display: flex;    
}
.what-we-do-img {
    margin-right: 30px;
    margin-bottom: 50px;
}
.what-we-do-header {

font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
margin-top: 94px;
margin-bottom: 50px;
}
/* ===== END WHAT WE DO ===== */

/* ===== OUR TEAM ===== */
.our-team-header {
    padding-top: 94px;
    padding-bottom: 50px;

}

.container .our-team-list {
    display: flex;
}

.our-team-img:not(:last-child) {
    padding-right: 30px;

}

.our-team-item {
    display: flex;
    max-width: 270px;
    height: 260px;
}
.our-team {
    background-color: rgba(245, 244, 250, 1);
    text-align: center;
}

.our-team-header {
font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
}

.our-team-worker {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187px;
    letter-spacing: 0.03em;
}

.job-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}
/* ===== END OUR TEAM ===== */
/* ===== FOOTER ===== */
.navigation-logo-bottom {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.navigation-logo-color-bottom {
    color: rgba(255, 255, 255, 1);
}

.footer {
    background-color: 
    rgba(47, 48, 58, 1);
}

.address-location-link, 
.address-contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
    font-style: normal;
    
}

.address-contact-link {
    color: rgba(255, 255, 255, 0.6);    
}

.address-contact-link:hover,
.address-contact-link:focus,
.address-location-link:hover,
.address-location-link:focus {
    color: var(--main-color);
}

/* ===== END FOOTER ===== */

/* ===== PORTFOLIO MAIN ===== */
.button-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;    
}

.buttons:hover,
.buttons:focus {
    color: rgba(255, 255, 255, 1);
    background-color: var(--main-color);
    cursor: pointer;
}

.application-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;    
}

.application-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}
/* ===== END PORTFOLIO MAIN ===== */


