@import "./utils/visually-hidden";
@import "./utils/variabless";

@import "./base/common";
@import "./base/container";
@import "./base/section";

@import "./components/logo";
@import "./components/btn";
@import "./components/second-header";
@import "./components/social-links";
@import "./components/social-list";
@import "./components/backdrop";
@import "./components/modal";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/attributes";
@import "./layout/about";
@import "./layout/our-team";
@import "./layout/our-customers";
@import "./layout/footer";

@import "./pages/portfolio"







