.about {
    content: "";
    
    &__list {
    display: flex;    
}
    &__item {
    position: relative;
}
    &__item-span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 370px;
    height: 70px; 
    background: rgba(47, 48, 58, 0.8); 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
    &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
}







