.attributes__list {
    display: flex;
} 

.attributes__item:not(:last-child) {
    margin-right: 30px;
}

.attributes__icon-container {
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.attributes__icon {
    
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.attributes__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 30px;
}

 .attributes__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
 }   

 .attributes {
     padding-top: 94px;
 }