.address {

    &__list {
    display: flex;
    align-items: center;
}
    &__item:not(:last-child) {
    margin-right: 30px;
}
}





.envelope-icon,
.icon-smartphone {
    margin-right: 10px;
    fill: currentColor;
}

.navigation { 
    display: flex;
    
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item:not(:last-child){
    margin-right: 46px;

}


.navigation__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: rgba(33, 33, 33, 1); 
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.navigation__link:hover,
.navigation__link:focus,
.address__email:hover,
.address__email:focus,
.address__phone-number:hover,
.address__phone-number:focus {
    color: var(--main-color);
}

.address__email,
.address__phone-number {
    font-style: normal;
    text-decoration: none;
    color:rgba(117, 117, 117, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    align-items: center;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color:var(--main-color);
    
}



.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    top: 45px;
    border-radius: 2px;
    background-color: var(--main-color);
}

.conatiner__header {
    display: flex;
    height: 80px;
    justify-content: space-between;

}