.btn {
font-weight: 700;
font-size: 16px;
line-height: 1.875;
display: flex;
align-items: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--main-color);
margin: 0 auto;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 200px;
height: 50px;
border: 0;
justify-content: center;
    &:hover,
    &:focus {
    cursor: pointer
}


&.btn__send {
    margin-top: 30px;
}

&.btn__footer {
    margin-left: 12px;
    gap: 24px;
}

}