.logo {
    color:rgba(33, 33, 33, 1);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    // margin-right: 93px;

    &__accent--dark {
    color: var(--main-color);
    
}



    &__footer {
    color: #2196F3;
    padding-top: 60px;
    padding-bottom: 16px;
    display: flex;
}

    &__accent--light {
    color: rgba(255, 255, 255, 1);
}

    
}

