.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 528px;
    min-height: 581px; 
    padding: 40px;
    opacity: 1;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    
    
}



.modal__form-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 12px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__form-field {
    margin-bottom: 10px;
}

.modal__form-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}

.modal-form-input {
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
padding-left: 42px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--main-color);
}

.modal-form-input:focus + .modal__form-icon {
    fill: var(--main-color);
    border-color: var(--main-color);
    
}

.modal__form-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px; 
    padding: 12px 16px;
    /* margin-top: 4px; */
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal__form-message:focus {
    outline: none;
    border-color: var(--main-color);
}

.modal__form-policy-text::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #000;
    border-radius: 4px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}

.modal__form-policy:checked + .modal__form-policy-text::before {
    border: none;
    background-color: var(--main-color);
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



.modal__form-policy-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.policy-link {
    color: var(--main-color)
}

.policy-text {
    margin: 0 5px;
}

.close-bnt {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: #FFFFFF;
}