body {
font-family: var(--main-font);
color:var(--text-main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}